.cp-main-card .name-id {
    border-right: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cp-main-card h2, .cp-main-card h4 {
    color: var(--green);
}

.cp-main-card .icon-text .icon {
    color: var(--green);
    padding: 5px 9px;
    border-radius: 50px;
    height: 30px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    margin: 5px 5px 5px 0;
    width: 30px;
}

.cp-img {
    display: flex;
    align-items: center;
    align-content: center;
}

.cp-img div {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border: 1px solid #dddddd;
}

.cust-card .title {
    background: var(--green);
    padding: 5px 10px;
    color: #fff;
    font-family: var(--head);
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.dd-bg {
    background: #eeeeee;
    padding: 5px 10px;
    display: flex;
    min-height: 31px;
}

.cust-card {
    overflow: hidden;
    border: 1px solid var(--green);
    margin-top: 15px;
    width: 100%;
}

.cust-card .desc {
    background: #ffff;
    padding: 15px 20px;
}

